// main-nav
.main-nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    &__logo{
        width: 70px;
        height: 70px;
    }

    &__items{
        display: flex;

        li{
            padding: 1rem 1.5rem;

            a{
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                border-bottom: 3px transparent solid;
                padding-bottom: 0.5rem;
                transition: border-color .5s;

                &:hover{
                    border-color: $medium-color;

                }
                &.active{
                    border-color: $primary-color;
                }
            }
        }
    }
}

#header{
    &__home{
        background: $bg-image;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        height: 100vh;
        color: #fff;
        
        .header-content{
            text-align: center;
            padding-top: 15%;
        }

        h1{
            font-size: 3rem;
            line-height: 1.2;
        }

        .typewrite{
            display: block;
        }
    }

    &__inner{
        background: $bg-image;
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: 10% / cover;
        height: 5.5rem;
        border-bottom: 3px solid $primary-color;

    }
}